<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnterprisePoliciesEnabled</key>
    <true/>
    <key>AppUpdateURL</key>
    <string>https://www.example.com/update.xml</string>
    <key>BlockAboutAddons</key>
    <true/>
    <key>BlockAboutConfig</key>
    <true/>
    <key>BlockAboutProfiles</key>
    <true/>
    <key>BlockAboutSupport</key>
    <true/>
    <key>Certificates</key>
    <dict>
      <key>ImportEnterpriseRoots</key>
      <true/>
      <key>Install</key>
      <array>
        <string>cert1.der</string>
        <string>cert2.pem</string>
      </array>
    </dict>
    <key>DisableAppUpdate</key>
    <true/>
    <key>DisableDeveloperTools</key>
    <true/>
    <key>DisableMasterPasswordCreation</key>
    <true/>
    <key>DisableSecurityBypass</key>
    <dict>
      <key>InvalidCertificate</key>
      <true/>
      <key>SafeBrowsing</key>
      <true/>
    </dict>
    <key>Extensions</key>
    <dict>
      <key>Install</key>
      <array>
        <string>https://addons.thunderbird.net/thunderbird/downloads/file/1053714/ghostery_privacy_ad_blocker-8.2.4-an+fx.xpi</string>
      </array>
      <key>Uninstall</key>
      <array/>
      <key>Locked</key>
      <array>
        <string>thunderbird@ghostery.com</string>
      </array>
    </dict>
    <key>ExtensionUpdate</key>
    <false/>
    <key>InstallAddonsPermission</key>
    <dict>
      <key>Allow</key>
      <array>
        <string>https://example.org</string>
        <string>https://example.edu</string>
      </array>
      <key>Default</key>
      <false/>
    </dict>
    <key>Proxy</key>
    <dict>
      <key>Mode</key>
      <string>manual</string>
      <key>HTTPProxy</key>
      <string>proxy.example.com:80</string>
      <key>Locked</key>
      <true/>
    </dict>
    <key>RequestedLocales</key>
    <array>
      <string>de</string>
      <string>en-US</string>
    </array>
    <key>SSLVersionMin</key>
    <string>tls1.2</string>
    <key>SSLVersionMax</key>
    <string>tls1.3</string>
  </dict>
</plist>