<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>3rdparty</key>
    <dict>
      <key>Extensions</key>
      <dict>
        <key>{869A1003-0452-414C-9E4B-EF6BAA7D79E0}</key>
        <dict>
          <key>darkness</key>
          <integer>2</integer>
          <key>lightness</key>
          <integer>3</integer>
        </dict>
        <key>some-extension@example.com</key>
        <dict>
          <key>advancedLayerRandomization</key>
          <true/>
          <key>baseConfiguration</key>
          <dict>
            <key>honestyRatio</key>
            <real>0.876</real>
            <key>showHelp</key>
            <string>sometimes</string>
          </dict>
          <key>hypnotizeUsersIfNeeded</key>
          <true/>
          <key>numberOfSemiShuffles</key>
          <integer>123</integer>
          <key>theseKeysAndValuesAreExtensionSpecific</key>
          <true/>
          <key>transmogrifyImmediately</key>
          <false/>
        </dict>
      </dict>
    </dict>
    <key>AllowedDomainsForApps</key>
    <string>managedfirefox.com,example.com</string>
    <key>AllowFileSelectionDialogs</key>
    <false/>
    <key>AppAutoUpdate</key>
    <false/>
    <key>AppUpdatePin</key>
    <string>106.</string>
    <key>AppUpdateURL</key>
    <string>https://yoursite.com</string>
    <key>Authentication</key>
    <dict>
      <key>AllowNonFQDN</key>
      <dict>
        <key>NTLM</key>
        <true/>
        <key>SPNEGO</key>
        <true/>
      </dict>
      <key>AllowProxies</key>
      <dict>
        <key>NTLM</key>
        <true/>
        <key>SPNEGO</key>
        <true/>
      </dict>
      <key>Delegated</key>
      <array>
        <string>mydomain.com</string>
        <string>https://myotherdomain.com</string>
      </array>
      <key>Locked</key>
      <true/>
      <key>NTLM</key>
      <array>
        <string>mydomain.com</string>
        <string>https://myotherdomain.com</string>
      </array>
      <key>PrivateBrowsing</key>
      <true/>
      <key>SPNEGO</key>
      <array>
        <string>mydomain.com</string>
        <string>https://myotherdomain.com</string>
      </array>
    </dict>
    <key>AutofillAddressEnabled</key>
    <false/>
    <key>AutofillCreditCardEnabled</key>
    <false/>
    <key>AutoLaunchProtocolsFromOrigins</key>
    <array>
      <dict>
        <key>allowed_origins</key>
        <array>
          <string>https://somesite.zoom.us</string>
        </array>
        <key>protocol</key>
        <string>zoommtg</string>
      </dict>
    </array>
    <key>BackgroundAppUpdate</key>
    <false/>
    <key>BlockAboutAddons</key>
    <true/>
    <key>BlockAboutConfig</key>
    <true/>
    <key>BlockAboutProfiles</key>
    <true/>
    <key>BlockAboutSupport</key>
    <true/>
    <key>Bookmarks</key>
    <array>
      <dict>
        <key>Favicon</key>
        <string>https://example.com/favicon.ico</string>
        <key>Folder</key>
        <string>FolderName</string>
        <key>Placement</key>
        <string>toolbar</string>
        <key>Title</key>
        <string>Example</string>
        <key>URL</key>
        <string>https://example.com</string>
      </dict>
    </array>
    <key>CaptivePortal</key>
    <false/>
    <key>Certificates</key>
    <dict>
      <key>ImportEnterpriseRoots</key>
      <true/>
      <key>Install</key>
      <array>
        <string>cert1.der</string>
        <string>/home/username/cert2.pem</string>
      </array>
    </dict>
    <key>Containers</key>
    <dict>
      <key>Default</key>
      <array>
        <dict>
          <key>color</key>
          <string>cyan</string>
          <key>icon</key>
          <string>pet</string>
          <key>name</key>
          <string>My container</string>
        </dict>
      </array>
    </dict>
    <key>ContentAnalysis</key>
    <dict>
      <key>AgentName</key>
      <string>My DLP Product</string>
      <key>AgentTimeout</key>
      <integer>60</integer>
      <key>AllowUrlRegexList</key>
      <string>https://example.com/.* https://subdomain.example.com/.*</string>
      <key>BypassForSameTabOperations</key>
      <true/>
      <key>ClientSignature</key>
      <string>My DLP Company</string>
      <key>DefaultResult</key>
      <integer>0</integer>
      <key>DenyUrlRegexList</key>
      <string>https://example.com/.* https://subdomain.example.com/.*</string>
      <key>Enabled</key>
      <true/>
      <key>InterceptionPoints</key>
      <dict>
        <key>Clipboard</key>
        <dict>
          <key>Enabled</key>
          <true/>
          <key>PlainTextOnly</key>
          <true/>
        </dict>
        <key>ClipboardCopy</key>
        <dict>
          <key>Enabled</key>
          <false/>
          <key>PlainTextOnly</key>
          <true/>
        </dict>
        <key>Download</key>
        <dict>
          <key>Enabled</key>
          <false/>
        </dict>
        <key>DragAndDrop</key>
        <dict>
          <key>Enabled</key>
          <true/>
          <key>PlainTextOnly</key>
          <true/>
        </dict>
        <key>FileUpload</key>
        <dict>
          <key>Enabled</key>
          <true/>
        </dict>
        <key>Print</key>
        <dict>
          <key>Enabled</key>
          <true/>
        </dict>
      </dict>
      <key>IsPerUser</key>
      <true/>
      <key>MaxConnectionsCount</key>
      <integer>32</integer>
      <key>PipePathName</key>
      <string>pipe_custom_name</string>
      <key>ShowBlockedResult</key>
      <true/>
      <key>TimeoutResult</key>
      <integer>0</integer>
    </dict>
    <key>Cookies</key>
    <dict>
      <key>Allow</key>
      <array>
        <string>http://example.org/</string>
      </array>
      <key>AllowSession</key>
      <array>
        <string>http://example.edu/</string>
      </array>
      <key>Behavior</key>
      <string>accept</string>
      <key>BehaviorPrivateBrowsing</key>
      <string>accept</string>
      <key>Block</key>
      <array>
        <string>http://example.com/</string>
      </array>
      <key>Locked</key>
      <true/>
    </dict>
    <key>DefaultDownloadDirectory</key>
    <string>${home}/Downloads</string>
    <key>DisableAccounts</key>
    <true/>
    <key>DisableAppUpdate</key>
    <true/>
    <key>DisableBuiltinPDFViewer</key>
    <true/>
    <key>DisabledCiphers</key>
    <dict>
      <key>TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA</key>
      <true/>
      <key>TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256</key>
      <true/>
      <key>TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256</key>
      <true/>
      <key>TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256</key>
      <true/>
    </dict>
    <key>DisableDefaultBrowserAgent</key>
    <true/>
    <key>DisableDeveloperTools</key>
    <true/>
    <key>DisableEncryptedClientHello</key>
    <true/>
    <key>DisableFeedbackCommands</key>
    <true/>
    <key>DisableFirefoxAccounts</key>
    <true/>
    <key>DisableFirefoxScreenshots</key>
    <true/>
    <key>DisableFirefoxStudies</key>
    <true/>
    <key>DisableForgetButton</key>
    <true/>
    <key>DisableFormHistory</key>
    <true/>
    <key>DisableMasterPasswordCreation</key>
    <true/>
    <key>DisablePasswordReveal</key>
    <true/>
    <key>DisablePocket</key>
    <true/>
    <key>DisablePrivateBrowsing</key>
    <true/>
    <key>DisableProfileImport</key>
    <true/>
    <key>DisableProfileRefresh</key>
    <true/>
    <key>DisableSafeMode</key>
    <true/>
    <key>DisableSecurityBypass</key>
    <dict>
      <key>InvalidCertificate</key>
      <true/>
      <key>SafeBrowsing</key>
      <true/>
    </dict>
    <key>DisableSetDesktopBackground</key>
    <true/>
    <key>DisableSystemAddonUpdate</key>
    <true/>
    <key>DisableTelemetry</key>
    <true/>
    <key>DisableThirdPartyModuleBlocking</key>
    <true/>
    <key>DisplayBookmarksToolbar</key>
    <string>always</string>
    <key>DisplayMenuBar</key>
    <string>always</string>
    <key>DNSOverHTTPS</key>
    <dict>
      <key>Enabled</key>
      <true/>
      <key>ExcludedDomains</key>
      <array>
        <string>example.com</string>
      </array>
      <key>Fallback</key>
      <true/>
      <key>Locked</key>
      <true/>
      <key>ProviderURL</key>
      <string>https://dns.example.com/dns-query</string>
    </dict>
    <key>DontCheckDefaultBrowser</key>
    <true/>
    <key>DownloadDirectory</key>
    <string>${home}/Downloads</string>
    <key>EnableTrackingProtection</key>
    <dict>
      <key>BaselineExceptions</key>
      <true/>
      <key>Category</key>
      <string>strict</string>
      <key>ConvenienceExceptions</key>
      <true/>
      <key>Cryptomining</key>
      <true/>
      <key>EmailTracking</key>
      <true/>
      <key>Exceptions</key>
      <array>
        <string>https://example.com</string>
      </array>
      <key>Fingerprinting</key>
      <true/>
      <key>Locked</key>
      <true/>
      <key>SuspectedFingerprinting</key>
      <true/>
      <key>Value</key>
      <true/>
    </dict>
    <key>EncryptedMediaExtensions</key>
    <dict>
      <key>Enabled</key>
      <true/>
      <key>Locked</key>
      <true/>
    </dict>
    <key>ExemptDomainFileTypePairsFromFileTypeDownloadWarnings</key>
    <array>
      <dict>
        <key>domains</key>
        <array>
          <string>example.com</string>
        </array>
        <key>file_extension</key>
        <string>jnlp</string>
      </dict>
    </array>
    <key>Extensions</key>
    <dict>
      <key>Install</key>
      <array>
        <string>https://addons.mozilla.org/firefox/downloads/somefile.xpi</string>
        <string>//path/to/xpi</string>
      </array>
      <key>Locked</key>
      <array>
        <string>addon_id@mozilla.org</string>
      </array>
      <key>Uninstall</key>
      <array>
        <string>bad_addon_id@mozilla.org</string>
      </array>
    </dict>
    <key>ExtensionSettings</key>
    <dict>
      <key>*</key>
      <dict>
        <key>blocked_install_message</key>
        <string>Custom error message.</string>
        <key>install_sources</key>
        <array>
          <string>https://yourwebsite.com/*</string>
        </array>
        <key>installation_mode</key>
        <string>blocked</string>
      </dict>
      <key>adguardadblocker@adguard.com</key>
      <dict>
        <key>install_url</key>
        <string>https://addons.mozilla.org/firefox/downloads/latest/adguardadblocker@adguard.com/latest.xpi</string>
        <key>installation_mode</key>
        <string>force_installed</string>
      </dict>
      <key>https-everywhere@eff.org</key>
      <dict>
        <key>installation_mode</key>
        <string>allowed</string>
        <key>updates_disabled</key>
        <false/>
      </dict>
      <key>uBlock0@raymondhill.net</key>
      <dict>
        <key>install_url</key>
        <string>https://addons.mozilla.org/firefox/downloads/latest/ublock-origin/latest.xpi</string>
        <key>installation_mode</key>
        <string>force_installed</string>
      </dict>
    </dict>
    <key>ExtensionUpdate</key>
    <false/>
    <key>FirefoxHome</key>
    <dict>
      <key>Highlights</key>
      <true/>
      <key>Locked</key>
      <true/>
      <key>Pocket</key>
      <true/>
      <key>Search</key>
      <true/>
      <key>Snippets</key>
      <true/>
      <key>SponsoredPocket</key>
      <true/>
      <key>SponsoredStories</key>
      <true/>
      <key>SponsoredTopSites</key>
      <true/>
      <key>Stories</key>
      <true/>
      <key>TopSites</key>
      <true/>
      <key>Widgets</key>
      <dict>
        <key>Blocked</key>
        <array>
          <string>crossword</string>
          <string>stocks</string>
        </array>
        <key>Enabled</key>
        <true/>
      </dict>
    </dict>
    <key>FirefoxSuggest</key>
    <dict>
      <key>ImproveSuggest</key>
      <true/>
      <key>Locked</key>
      <true/>
      <key>SponsoredSuggestions</key>
      <true/>
      <key>WebSuggestions</key>
      <true/>
    </dict>
    <key>GoToIntranetSiteForSingleWordEntryInAddressBar</key>
    <true/>
    <key>Handlers</key>
    <dict>
      <key>extensions</key>
      <dict>
        <key>pdf</key>
        <dict>
          <key>action</key>
          <string>useHelperApp</string>
          <key>ask</key>
          <true/>
          <key>handlers</key>
          <array>
            <dict>
              <key>name</key>
              <string>Adobe Acrobat</string>
              <key>path</key>
              <string>/usr/bin/acroread</string>
            </dict>
          </array>
        </dict>
      </dict>
      <key>mimeTypes</key>
      <dict>
        <key>application/msword</key>
        <dict>
          <key>action</key>
          <string>useSystemDefault</string>
          <key>ask</key>
          <false/>
        </dict>
      </dict>
      <key>schemes</key>
      <dict>
        <key>mailto</key>
        <dict>
          <key>action</key>
          <string>useHelperApp</string>
          <key>ask</key>
          <true/>
          <key>handlers</key>
          <array>
            <dict>
              <key>name</key>
              <string>Gmail</string>
              <key>uriTemplate</key>
              <string>https://mail.google.com/mail/?extsrc=mailto&amp;url=%s</string>
            </dict>
          </array>
        </dict>
      </dict>
    </dict>
    <key>HardwareAcceleration</key>
    <false/>
    <key>Homepage</key>
    <dict>
      <key>Additional</key>
      <array>
        <string>http://example.org/</string>
        <string>http://example.edu/</string>
      </array>
      <key>Locked</key>
      <true/>
      <key>StartPage</key>
      <string>none</string>
      <key>URL</key>
      <string>http://example.com/</string>
    </dict>
    <key>HttpAllowlist</key>
    <array>
      <string>http://example.org</string>
      <string>http://example.edu</string>
    </array>
    <key>HttpsOnlyMode</key>
    <string>allowed</string>
    <key>InstallAddonsPermission</key>
    <dict>
      <key>Allow</key>
      <array>
        <string>http://example.org/</string>
        <string>http://example.edu/</string>
      </array>
      <key>Default</key>
      <true/>
    </dict>
    <key>LegacyProfiles</key>
    <true/>
    <key>LegacySameSiteCookieBehaviorEnabled</key>
    <true/>
    <key>LegacySameSiteCookieBehaviorEnabledForDomainList</key>
    <array>
      <string>example.org</string>
      <string>example.edu</string>
    </array>
    <key>LocalFileLinks</key>
    <array>
      <string>http://example.org/</string>
      <string>http://example.edu/</string>
    </array>
    <key>ManagedBookmarks</key>
    <array>
      <dict>
        <key>toplevel_name</key>
        <string>My managed bookmarks folder</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Example</string>
        <key>url</key>
        <string>example.com</string>
      </dict>
      <dict>
        <key>children</key>
        <array>
          <dict>
            <key>name</key>
            <string>Mozilla.org</string>
            <key>url</key>
            <string>https://mozilla.org</string>
          </dict>
          <dict>
            <key>name</key>
            <string>SUMO</string>
            <key>url</key>
            <string>https://support.mozilla.org/</string>
          </dict>
        </array>
        <key>name</key>
        <string>Mozilla links</string>
      </dict>
    </array>
    <key>ManualAppUpdateOnly</key>
    <true/>
    <key>MicrosoftEntraSSO</key>
    <true/>
    <key>NetworkPrediction</key>
    <false/>
    <key>NewTabPage</key>
    <false/>
    <key>NoDefaultBookmarks</key>
    <true/>
    <key>OfferToSaveLogins</key>
    <false/>
    <key>OfferToSaveLoginsDefault</key>
    <false/>
    <key>OverrideFirstRunPage</key>
    <string>https://example.org</string>
    <key>OverridePostUpdatePage</key>
    <string>http://example.org</string>
    <key>PasswordManagerEnabled</key>
    <false/>
    <key>PasswordManagerExceptions</key>
    <array>
      <string>https://example.org</string>
      <string>https://example.edu</string>
    </array>
    <key>PDFjs</key>
    <dict>
      <key>Enabled</key>
      <true/>
      <key>EnablePermissions</key>
      <true/>
    </dict>
    <key>Permissions</key>
    <dict>
      <key>Autoplay</key>
      <dict>
        <key>Allow</key>
        <array>
          <string>https://example.org</string>
        </array>
        <key>Block</key>
        <array>
          <string>https://example.edu</string>
        </array>
        <key>Default</key>
        <string>allow-audio-video</string>
        <key>Locked</key>
        <true/>
      </dict>
      <key>Camera</key>
      <dict>
        <key>Allow</key>
        <array>
          <string>https://example.org</string>
          <string>https://example.org:1234</string>
        </array>
        <key>Block</key>
        <array>
          <string>https://example.edu</string>
        </array>
        <key>BlockNewRequests</key>
        <true/>
        <key>Locked</key>
        <true/>
      </dict>
      <key>Location</key>
      <dict>
        <key>Allow</key>
        <array>
          <string>https://example.org</string>
        </array>
        <key>Block</key>
        <array>
          <string>https://example.edu</string>
        </array>
        <key>BlockNewRequests</key>
        <true/>
        <key>Locked</key>
        <true/>
      </dict>
      <key>Microphone</key>
      <dict>
        <key>Allow</key>
        <array>
          <string>https://example.org</string>
        </array>
        <key>Block</key>
        <array>
          <string>https://example.edu</string>
        </array>
        <key>BlockNewRequests</key>
        <true/>
        <key>Locked</key>
        <true/>
      </dict>
      <key>Notifications</key>
      <dict>
        <key>Allow</key>
        <array>
          <string>https://example.org</string>
        </array>
        <key>Block</key>
        <array>
          <string>https://example.edu</string>
        </array>
        <key>BlockNewRequests</key>
        <true/>
        <key>Locked</key>
        <true/>
      </dict>
      <key>ScreenShare</key>
      <dict>
        <key>Allow</key>
        <array>
          <string>https://example.org</string>
        </array>
        <key>Block</key>
        <array>
          <string>https://example.edu</string>
        </array>
        <key>BlockNewRequests</key>
        <true/>
        <key>Locked</key>
        <true/>
      </dict>
      <key>VirtualReality</key>
      <dict>
        <key>Allow</key>
        <array>
          <string>https://example.org</string>
        </array>
        <key>Block</key>
        <array>
          <string>https://example.edu</string>
        </array>
        <key>BlockNewRequests</key>
        <true/>
        <key>Locked</key>
        <true/>
      </dict>
    </dict>
    <key>PictureInPicture</key>
    <dict>
      <key>Enabled</key>
      <true/>
      <key>Locked</key>
      <true/>
    </dict>
    <key>PopupBlocking</key>
    <dict>
      <key>Allow</key>
      <array>
        <string>https://example.org/</string>
        <string>https://example.edu/</string>
      </array>
      <key>Default</key>
      <true/>
      <key>Locked</key>
      <true/>
    </dict>
    <key>PostQuantumKeyAgreementEnabled</key>
    <false/>
    <key>Preferences</key>
    <dict>
      <key>accessibility.force_disabled</key>
      <dict>
        <key>Status</key>
        <string>default</string>
        <key>Type</key>
        <string>number</string>
        <key>Value</key>
        <integer>1</integer>
      </dict>
      <key>browser.cache.disk.parent_directory</key>
      <dict>
        <key>Status</key>
        <string>user</string>
        <key>Value</key>
        <string>SOME_NATIVE_PATH</string>
      </dict>
      <key>browser.tabs.warnOnClose</key>
      <dict>
        <key>Status</key>
        <string>locked</string>
        <key>Value</key>
        <false/>
      </dict>
    </dict>
    <key>PrimaryPassword</key>
    <true/>
    <key>PrintingEnabled</key>
    <false/>
    <key>PrivateBrowsingModeAvailability</key>
    <integer>0</integer>
    <key>PromptForDownloadLocation</key>
    <true/>
    <key>Proxy</key>
    <dict>
      <key>AutoConfigURL</key>
      <string>https://example.com/proxy</string>
      <key>AutoLogin</key>
      <true/>
      <key>FTPProxy</key>
      <string>example.com</string>
      <key>HTTPProxy</key>
      <string>example.com</string>
      <key>Locked</key>
      <true/>
      <key>Mode</key>
      <string>autoConfig</string>
      <key>Passthrough</key>
      <string>&lt;local&gt;</string>
      <key>SOCKSProxy</key>
      <string>example.com</string>
      <key>SOCKSVersion</key>
      <integer>5</integer>
      <key>SSLProxy</key>
      <string>example.com</string>
      <key>UseHTTPProxyForAllProtocols</key>
      <true/>
      <key>UseProxyForDNS</key>
      <true/>
    </dict>
    <key>RequestedLocales</key>
    <array>
      <string>de</string>
      <string>en-US</string>
    </array>
    <key>SanitizeOnShutdown</key>
    <dict>
      <key>Cache</key>
      <true/>
      <key>Cookies</key>
      <true/>
      <key>FormData</key>
      <true/>
      <key>History</key>
      <false/>
      <key>Locked</key>
      <true/>
      <key>Sessions</key>
      <true/>
      <key>SiteSettings</key>
      <true/>
    </dict>
    <key>SearchBar</key>
    <string>unified</string>
    <key>SearchEngines</key>
    <dict>
      <key>Add</key>
      <array>
        <dict>
          <key>Alias</key>
          <string>example</string>
          <key>Description</key>
          <string>Description</string>
          <key>IconURL</key>
          <string>https://www.example.org/favicon.ico</string>
          <key>Method</key>
          <string>GET</string>
          <key>Name</key>
          <string>Example1</string>
          <key>SuggestURLTemplate</key>
          <string>https://www.example.org/suggestions/q={searchTerms}</string>
          <key>URLTemplate</key>
          <string>https://www.example.org/q={searchTerms}</string>
        </dict>
      </array>
      <key>Default</key>
      <string>Example1</string>
      <key>PreventInstalls</key>
      <true/>
    </dict>
    <key>SearchSuggestEnabled</key>
    <false/>
    <key>SecurityDevices</key>
    <dict>
      <key>Add</key>
      <dict>
        <key>A Device</key>
        <string>/path/to/library/for/device</string>
      </dict>
    </dict>
    <key>ShowHomeButton</key>
    <true/>
    <key>SSLVersionMax</key>
    <string>tls1.3</string>
    <key>SSLVersionMin</key>
    <string>tls1.2</string>
    <key>StartDownloadsInTempDirectory</key>
    <true/>
    <key>SupportMenu</key>
    <dict>
      <key>Title</key>
      <string>Support Menu</string>
      <key>URL</key>
      <string>http://example.com/support</string>
    </dict>
    <key>TranslateEnabled</key>
    <false/>
    <key>UserMessaging</key>
    <dict>
      <key>ExtensionRecommendations</key>
      <false/>
      <key>FeatureRecommendations</key>
      <false/>
      <key>FirefoxLabs</key>
      <false/>
      <key>Locked</key>
      <true/>
      <key>MoreFromMozilla</key>
      <true/>
      <key>SkipOnboarding</key>
      <true/>
      <key>UrlbarInterventions</key>
      <false/>
    </dict>
    <key>UseSystemPrintDialog</key>
    <true/>
    <key>WebsiteFilter</key>
    <dict>
      <key>Block</key>
      <array>
        <string>&lt;all_urls&gt;</string>
      </array>
      <key>Exceptions</key>
      <array>
        <string>http://example.org/*</string>
      </array>
    </dict>
    <key>WindowsSSO</key>
    <true/>
  </dict>
</plist>