<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnterprisePoliciesEnabled</key>
    <true/>
    <key>AppAutoUpdate</key>
    <true/>
    <key>AppUpdateURL</key>
    <string>https://www.example.com/update.xml</string>
    <key>Authentication</key>
    <dict>
      <key>SPNEGO</key>
      <array>
        <string>mydomain.com</string>
        <string>https://myotherdomain.com</string>
      </array>
      <key>Delegated</key>
      <array>
        <string>mydomain.com</string>
        <string>https://myotherdomain.com</string>
      </array>
      <key>NTLM</key>
      <array>
        <string>mydomain.com</string>
        <string>https://myotherdomain.com</string>
      </array>
      <key>AllowNonFQDN</key>
      <dict>
        <key>SPNEGO</key>
        <true/>
        <key>NTLM</key>
        <true/>
      </dict>
      <key>AllowProxies</key>
      <dict>
        <key>SPNEGO</key>
        <true/>
        <key>NTLM</key>
        <true/>
      </dict>
      <key>PrivateBrowsing</key>
      <true/>
      <key>Locked</key>
      <true/>
    </dict>
    <key>BlockAboutAddons</key>
    <true/>
    <key>BlockAboutConfig</key>
    <true/>
    <key>BlockAboutProfiles</key>
    <true/>
    <key>BlockAboutSupport</key>
    <true/>
    <key>CaptivePortal</key>
    <false/>
    <key>Certificates</key>
    <dict>
      <key>ImportEnterpriseRoots</key>
      <true/>
      <key>Install</key>
      <array>
        <string>cert1.der</string>
        <string>cert2.pem</string>
      </array>
    </dict>
    <key>Cookies</key>
    <dict>
      <key>Allow</key>
      <array>
        <string>https://www.example.org/</string>
      </array>
      <key>Block</key>
      <array>
        <string>https://www.example.edu/</string>
      </array>
      <key>Default</key>
      <false/>
      <key>AcceptThirdParty</key>
      <string>never</string>
      <key>ExpireAtSessionEnd</key>
      <true/>
      <key>Locked</key>
      <true/>
    </dict>
    <key>DefaultDownloadDirectory</key>
    <string>${home}/Downloads</string>
    <key>DownloadDirectory</key>
    <string>${home}/Downloads</string>
    <key>DisableAppUpdate</key>
    <true/>
    <key>DisabledCiphers</key>
    <dict>
      <key>TLS_DHE_RSA_WITH_AES_128_CBC_SHA</key>
      <true/>
      <key>TLS_DHE_RSA_WITH_AES_256_CBC_SHA</key>
      <true/>
      <key>TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA</key>
      <true/>
      <key>TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA</key>
      <true/>
      <key>TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256</key>
      <true/>
      <key>TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256</key>
      <true/>
      <key>TLS_RSA_WITH_AES_128_CBC_SHA</key>
      <true/>
      <key>TLS_RSA_WITH_AES_256_CBC_SHA</key>
      <true/>
      <key>TLS_RSA_WITH_3DES_EDE_CBC_SHA</key>
      <true/>
    </dict>
    <key>DisableDeveloperTools</key>
    <true/>
    <key>DisableMasterPasswordCreation</key>
    <true/>
    <key>DisablePasswordReveal</key>
    <true/>
    <key>DisableSafeMode</key>
    <true/>
    <key>DisableSecurityBypass</key>
    <dict>
      <key>InvalidCertificate</key>
      <true/>
      <key>SafeBrowsing</key>
      <true/>
    </dict>
    <key>DisableSystemAddonUpdate</key>
    <true/>
    <key>DisableTelemetry</key>
    <true/>
    <key>Extensions</key>
    <dict>
      <key>Install</key>
      <array>
        <string>https://addons.thunderbird.net/thunderbird/downloads/file/1053714/ghostery_privacy_ad_blocker-8.2.4-an+fx.xpi</string>
      </array>
      <key>Uninstall</key>
      <array/>
      <key>Locked</key>
      <array>
        <string>thunderbird@ghostery.com</string>
      </array>
    </dict>
    <key>ExtensionSettings</key>
    <dict>
      <key>*</key>
      <dict>
        <key>blocked_install_message</key>
        <string>Custom error message.</string>
        <key>install_sources</key>
        <array>
          <string>https://addons.thunderbird.net/</string>
        </array>
        <key>installation_mode</key>
        <string>blocked</string>
      </dict>
    </dict>
    <key>ExtensionUpdate</key>
    <false/>
    <key>HardwareAcceleration</key>
    <false/>
    <key>InstallAddonsPermission</key>
    <dict>
      <key>Allow</key>
      <array>
        <string>https://example.org</string>
        <string>https://example.edu</string>
      </array>
      <key>Default</key>
      <false/>
    </dict>
    <key>PasswordManagerEnabled</key>
    <false/>
    <key>Proxy</key>
    <dict>
      <key>Mode</key>
      <string>manual</string>
      <key>HTTPProxy</key>
      <string>proxy.example.com:80</string>
      <key>Locked</key>
      <true/>
    </dict>
    <key>RequestedLocales</key>
    <array>
      <string>de</string>
      <string>en-US</string>
    </array>
    <key>SSLVersionMin</key>
    <string>tls1.2</string>
    <key>SSLVersionMax</key>
    <string>tls1.3</string>
  </dict>
</plist>